Empty Collections should not return HTTP 204 No Content.

My reading of the spec ([RFC 7233](https://tools.ietf.org/html/rfc7233#section-4.4)) suggests that a request which results in an empty collection should return `HTTP 416` with a `Content-Range: */0`. Currently, `clean_pagination` returns an `HTTP 204 No Content` which **MUST** have an empty body, per [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.2.5).

For a little more context, my expectation of a Hypermedia API would be more consistent with the `416` than a `204`. Though I don't know how that would impact other Internet Media Types like `protobufs`.

Thoughts?

Alternatively, I think the spec also makes room for returning a `200 OK` with a body containing the empty collection. The `Note` of [Section 4.4 of RFC 2733](https://tools.ietf.org/html/rfc7233#section-4.4) states:

> Note: Because servers are free to ignore Range, many implementations will simply respond with the entire selected representation in a 200 (OK) response.  That is partly because most clients are prepared to receive a 200 (OK) to complete the task (albeit less efficiently) and partly because clients might not stop making an invalid partial request until they have received a complete representation.  Thus, clients cannot depend on receiving a 416 (Range Not Satisfiable) response even when it is most appropriate.

Once upon a time this gem returned an empty result rather than `[]` but that was annoying so I updated it but forgot to update the status code. Thanks for pointing this out and I'm sorry for the confusion it caused you that you mentioned on twitter.

I'll fix this soonish, probably this week. Pull requests are welcome as well if you have an idea of how you'd like to fix it.

@begriffs Thanks so much for the background info. And I'd be happy to open a PR, but I'm not sure what the desired behavior should be.

The more I consider it, the more I think a `200 OK` with whatever body the caller wishes. In my specific use case, I'm building a Hypermedia API, and so I'd like to see a `200 OK` with body:

```json
{
  "widgets": []
}
```

I created a pull request for this issue. Could you review it before I merge please?

It makes the `paginate` function call your block even when limit=0. It also returns 200 in that case. The 416 code is reserved for actual malformed range requests, whereas in this case the range is understood but there are simply no elements within it.

Perhaps I'm wrong about the 416 code. Reading the docs I see this:

> The Web server (running the Web site) thinks that the HTTP data stream sent by the client contains a 'Range' request which specifies a range of bytes which can not be satisfied - because the resource being accessed does not cover this byte range. For example if the resource - an image file for example - has 1000 bytes and the Range requested is 500-1500, then it can not be satisfied.

If someone requests a range that is past the last element then 416 could be appropriate, whereas if they request items 0-9 but there are no items at all then probably a 200 is appropriate.

After spending more time thinking about it, reading the spec a couple more times, and bouncing it off some friends, I think `200` is a reasonable and _correct_ response. Thanks for all of the work and consideration!